useDynLib(pgKDEsphere, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
importFrom(rgl, text3d, points3d, open3d)
importFrom(movMF, rmovMF)
importFrom(matrixStats, rowProds) 
importFrom(Directional, vmf.mle)
importFrom(DirStats, int_cir, int_sph, int_hypsph, to_cir, to_rad, to_sph, bic_vmf_mix, bw_dir_ami, lambda_L, d_L, b_L)
importFrom(circular, rose.diag, lines.circular)
importFrom(rotasym, c_vMF)
importFrom("grDevices", "colorRampPalette")
importFrom("stats", "na.omit")
